.home h1{
    font-size: 6rem;
    text-align: center;
    color: white;
}
.home p{
    font-size: 2rem;
    text-align: center;
    color: white;
    padding: 0 1rem;
}
.home.container{
    min-height: 100vh;
}