footer{
    background-color: #222222;
    color: white;
    padding: 50px;
}
footer p.head{
    font-size: 1.5rem;
}
footer div.links a , footer .important-links a{
    text-decoration: none;
    color: #979797;
}
footer div.logo{
    margin:auto;
    margin-bottom: 2rem;
    width: 50%;
}
.important-links div{
    margin-bottom: 1.25rem;
    text-align: right;
}

@media (width < 450px) {
    .col-lg-4{
        margin-bottom: 50px;
    }
    .important-links div{
        text-align: left;
    }
}