body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'SatoshiRegular'!important;
}

@font-face {
  font-family: 'SatoshiRegular';
  src: url('./assets/fonts/Satoshi-Regular.otf');
}
.grey{
  color: #979797
}
*{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
h1 , h2 , h3{
  overflow-y: hidden;
}
li{
  list-style-position: inside;
}
.privacy-policy{
  background-color: #242323;
  color: white;
  padding: 5rem;
  text-align: justify;

  & h3{
    font-size: 1.25rem;
    font-weight: bolder;
  }
  & h3 , & h2 {
    font-weight: bolder;
    /* text-shadow:  0 0 10px #979797,0 0 20px #979797,0 0 40px #979797,0 0 80px #979797,0 0 120px #979797; */
  }
}
.hover:hover{
  color: white;
}
@media (width < 800px) {
  .privacy-policy{
    padding: 1rem;
  }
}