body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'SatoshiRegular'!important;
}

@font-face {
  font-family: 'SatoshiRegular';
  src: url('./assets/fonts/Satoshi-Regular.otf');
}