body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'SatoshiRegular'!important;
}

@font-face {
  font-family: 'SatoshiRegular';
  src: url('./assets/fonts/Satoshi-Regular.otf');
}
.grey{
  color: #979797
}
*{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
h1{
  overflow-y: hidden;
}